<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/nav'); -%>
      <section>
      <p><%= message %></p>
      </section>
      </body>
  <%- include('layouts/footer'); -%>